.form-control2 {
  border-color: #ff0000;

}
 #cuadro1 {
    background: #135;
    
}
 #cuadro2 {
    background: #921;
    
}
 #cuadro3 {
    background: #339;
    
}
 #cuadro4 {
    background: #a86;
    
}
 #cuadro5 {
    background: #abc;
    
}
 #cuadro6 {
    background: #1af;
    
}
 #cuadro7 {
    background: #af1;
    
}
 #cuadro8 {
    background: #cec;
    
}
 #cuadro9 {
    background: #fac;
    
}
 #cuadro10 {
    background: #999;
    
}
 #cuadro11 {
    background: #bb8;
    
}
