.jumbotron{
	background-color: #2E9ADE;
}
.leyenda{
	color: #BDBDBD;
}
.perfil{
	font-weight: bold;
	color: black;
}
.arroba{
	color: #BDBDBD;
}
.unio{
	color: black;
}
.seguir{
	color: #848484;
}
.vertodos{
	color: blue;
	font-size: x-small;
}
.actualizar{
	color: blue;
	font-size: x-small;
}

.cambiar{
	color: blue;
	font-size: x-small;
}