.navbar{
	background-color: #39478B;
}

.glyphicon{
	color: #292929;
}
.colorin{
	color: white;
}
.badge{
	color: white;
}

.idioma{
	color: #BDBDBD;
}
.idioma2{
	color: blue;
}
.leyenda{
	color: #BDBDBD;
}